<div class="footer">
  <div class="row footer-text">
    <div class="col-sm-12 footer-text">
      <p class="footer-p">
        Farmers are builder of the nation 💗
      </p>
      <p class="footer-p">We welcome all your thoughts, grievances and suggestions
        Just drop us a mail : <a href="mailto:harshvardhan.mec18@iitbhu.ac.in"><i class="far fa-envelope"></i></a>
      </p>
      <div class="col-sm-12 footer-text copyright">
        <p class="footer-p">Copyright © 2021 Harsh</p>
      </div>
    </div>
  </div>
  </body>

  </html>