<%- include('partials/header') %>

  <div class="submit">
    <div class="submit-header">
      <h4>ABOUT</h4>
    </div>
    <hr>

    <div class="submit-form">
      <div class="privacy-left ">
        <p style="text-align: center;">
          Every day prices of agriculture commodities change across different mandis/markets in the
          country.
          <br><br>

          Here, you can get daily aggregate prices reported by users and mandi
          commission agent. 
          <br><br>

          This is what the website is all about. a place to simply help the farmers…<br><br>
          <br><br>
          <br><br>
          <br><br>


        </p>
        <div class="about-reach">
          <h4>Reach us at</h4>
        </div>
        <div class="col-sm-12 footer-text">
          <span class="footer-p"><a href="https://www.facebook.com/profile.php?id=100026002803901" target="_blank"
              rel="noopener noreferrer"><i class="fab fa-facebook-f about-icon"></i></a>
            <a href="https://www.instagram.com/harsh_dn/" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-instagram about-icon"></i></a>
            <a href="https://www.linkedin.com/in/harsh-vardhan-552838171/" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-linkedin about-icon"></i></a>
            <a href="https://github.com/harsh-dn" target="_blank" rel="noopener noreferrer"><i
                class="fab fa-github about-icon"></i></a></span>
        </div>
      </div>
    </div>

  </div>

  <%- include('partials/footer') %>